.navbar {
  padding-top: 30px;
  position: absolute;
  z-index: 10;
  width: calc(100% - 250px);
}

.navbar .nav_link {
  color: var(--light);
  transition: 0.3s;
}

.nav_linkgroup {
  margin-left: 40px;
}

.nav_link a
{
  text-decoration: none;
  color: var(--light);
  transition: 0.3s;
}

.nav_link a:hover
{
  color: var(--activelink);
}

.nav_linkgroup_2 {
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
}

.nav_hamburger,
.nav_logo {
  display: none;
}

@media only screen and (max-width: 991px) {
  .nav_hamburger,
  .nav_logo {
    position: absolute;
    display: flex;
    align-items: center;
    display: block;
  }

  .nav_hamburger {
    right: 30px;
  }
  .nav_logo {
    left: 30px;
  }

  .navbar {
    width: calc(100% - 0px);
  }

  .nav_linkgroup_2 {
    display: none;
  }

  .nav_linkgroup {
    margin-left: 0px;
    margin: auto;
  }
  .nav_linkgroup .nav_link {
    margin-left: 0px;
  }

  .navbar .navbar_toggler_btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar .navbar_toggler_myicon {
    width: 40px;
    height: 2px;
    background-color: var(--light);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }

  .navbar div.navbar_toggler_myicon::before,
  .navbar div.navbar_toggler_myicon::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--light);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }

  .navbar div.navbar_toggler_myicon::after {
    width: 30px;
    transform: translateY(-8px);
  }

  .navbar div.navbar_toggler_myicon::before {
    width: 20px;
    transform: translateY(8px);
  }

  .navbar div.navbar_toggler_myicon.open {
    transform: translateX(-40px);
    background: transparent;
  }

  .navbar div.navbar_toggler_myicon.open::before {
    transform: rotate(45deg) translate(31px, -31px);
    width: 30px;
  }

  .navbar div.navbar_toggler_myicon.open::after {
    transform: rotate(-45deg) translate(31px, 31px);
  }
}
