.navbar {
  padding-top: 30px;
  position: absolute;
  width: calc(100% - 250px);
}

.navbar .nav_link {
  color: var(--light);
  transition: 0.3s;
}

.navbar .nav_link.active {
  color: var(--acivelink);
}

.navbar .nav_link:hover {
  color: var(--light);
}

.nav_linkgroup {
  margin-left: 30px;
}

.nav_linkgroup .nav_link {
  margin-left: 10px;
}

.nav_linkgroup_2 {
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
}

.nav_avatar {
  width: 40px;
}

@media only screen and (max-width: 991px) {
  .nav_name {
    display: none;
  }

  .navbar {
    width: calc(100% - 60px);
  }
}

@media only screen and (max-width: 576px) {
  .nav_linkgroup {
    margin-left: 0px;
    margin: auto;
  }
  .nav_linkgroup .nav_link {
    margin-left: 0px;
  }
  .nav_linkgroup_2 {
    display: none;
  }
}
