.container__sidebar {
  position: relative;
  max-width: 250px;
  width: 30%;
  transition: 0.3s all;
}

.aside_container {
  position: fixed;
  padding: 50px 30px;
  height: 100vh;
  max-width: 250px;
  width: 30%;
  background-color: var(--sidebarbg);
  transition: 0.3s all;
  overflow-y: auto;
}

.logo_div a {
  display: flex;
  align-items: center;
}

.logo_div img:last-child {
  margin-left: 10px;
}

.sidebar_section:first-child {
  margin-top: 50px;
}

.sidebar_section ul {
  list-style-type: none;
}

.sidebar_section p {
  list-style-type: none;
  margin-top: 30px;
  color: var(--sidebartext);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
}

.sidebar_section ul li a {
  display: inline-block;
  margin: 20px 0 0 0px;
  color: var(--sidebarlink);
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s all;
}

.sidebar_section ul li a.active::before{
    background-color: var(--acivelink);
    content: '';
    display: block;
    height: 20px;
    width: 8px;
    border-radius: 0 4px 4px 0;
    position: absolute;
    left: 0;
    box-shadow: 0 0 1px var(--acivelink), 0 0 2px var(--acivelink),
    0 0 4px var(--acivelink), 0 0 8px var(--acivelink),
    0 0 16px var(--acivelink), 0 0 24px var(--acivelink);
  }
  

.sidebar_section ul li a:hover {
  color: var(--light);
}

.sidebar_section ul li a {
  display: flex;
  align-items: center;
}

.sidebar_section ul li a span {
  margin-left: 10px;
}

@media only screen and (max-width: 991px) {
  .small_screen {
    display: none !important;
  }

  .container__sidebar,
  .aside_container {
    max-width: 60px;
  }

  .sidebar_section:first-child {
    margin-top: 30px;
  }

  .aside_container {
    padding: 25px 0 25px 0;
  }

  .aside_container img,
  .aside_container a {
    margin: auto;
  }

  .aside_container .sidebar_section ul li a img {
    margin-top: 15px;
  }

  .sidebar_section ul li a.active::before{
    width: 5px;
    transform: translateY(6px);
    box-shadow: 0 0 1px var(--acivelink), 0 0 2px var(--acivelink),
    0 0 4px var(--acivelink), 0 0 8px var(--acivelink),
    0 0 16px var(--acivelink), 0 0 24px var(--acivelink);
  }

}
