.container__main {
  flex: 1;

  overflow: auto;
}

.content_div {
  width: calc(100vw - 250px);
  overflow-wrap: break-word;
  padding-left: 0px;
}

@media only screen and (max-width: 991px) {
  .content_div {
    width: calc(100vw - 60px);
  }
}
