@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("bootstrap/dist/css/bootstrap.min.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --light: #ffffff;
  --sidebarbg: #21201e;
  --bodybg: #191817;
  --sidebarlink: #d0d0d0;
  --sidebartext: #a4a4a4;
  --selection: #c3232b;
  --activelink: #f8242e;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
  background-color: var(--bodybg) !important;
  color: var(--light) !important;
  font-size: 15px;
}

::selection {
  background-color: var(--selection);
  color: var(--light);
}

.container_content {
  display: flex;
}

.container__main {
  flex: 1;

  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 5px;
}

.tooltip {
  display: block ;
  font-family: "Poppins", "sans-serif";
}

.content_div {
  width: calc(100vw - 250px);
  overflow-wrap: break-word;
  padding-left: 0px;
}

@media only screen and (max-width: 991px) {
  .content_div {
    width: calc(100vw - 0px);
  }
}

